.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 4px; /* Optional: adds space between grid items */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* Media query for screens larger than 530px */
@media (min-width: 524px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    max-width: 524px;
  }
}

/* Media query for screens larger than 800px */
@media (min-width: 788px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    max-width: 788px;
  }
}
